a{
  height: 55px;
  width: 55px;
  color: black;
  border-radius: 50%;
  background-color: white;
}
a:hover{
  color: white;
  background-color: #b3b147;
}

i{
  text-transform: none;
}

#left-menu {
  margin-left: 4em;
}

#right-icon{
  margin-left: 0.75em;
}

.icons {
  width: auto;
  border-radius: 50%;
}

.icons:hover{
  color: white;
  background-color: #b3b147;
  border-radius: 50%;
  transition: transform .2s;
}

input {
  width: 20em;
  margin-top: 0.75em;
  border-radius: 10px;
  margin-left: 2em;
  margin-right: 2em;
}

li {
  margin-left: 0.75em;
  margin-top: 1em;
}

.wrapper {
  border-radius: 30px;
  position: fixed;
  bottom: 1em;
  left: 5%;
  width: 90%;
  height: 5em;
  line-height: 40px;
  text-align: center;
  background-color: #173645;
  box-shadow: 3px 3px 60px 0px rgb(0 0 0 / 60%);
}

.nav-item {
  background-color: white;
}

.nav-item:hover{
  color: white;
}

.active {
  background-color: rgba(179, 177, 71, 1);
}
