.sel {
  background-color: dodgerblue ;
  border: solid blue 1px ;
  z-index: 1 !important;
}

.sortable-ghost {
  text-indent: -9999px;
}
.sortable-chosen{
  border-radius: 10px;
  font-weight: bold;
}
