.sel {
  background-color: dodgerblue ;
  border: solid blue 1px ;
}

.extension_input {
  background: none;
  border: none;
  width: 2.5em;
  color: white;
  font-weight: 700;
  font-size: 1em;
}

.dublicate:hover{
  cursor: pointer;
}
.dublicate {
  background-color: lightblue;
  float: right;
}

.sortable-ghost {
  text-indent: -9999px;
}
.sortable-chosen{
  border-radius: 10px;
  font-weight: bold;
}

.trashbin{
  color: black;
  margin-left: 1em;
  visibility: hidden;
  transition: color 1s;
}

.delete_all:hover > .trashbin{
  visibility: visible;
  color: red;
}

div{
  margin: 0 auto;
  text-align: left;
}

.delete_all {
    background-color: hsl(59, 43%, 49%);
    color: #173645;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    width: 10em;
    transition: width .5s;
}

.delete_all:hover{
  background-color: hsl(59, 80%, 60%);
  width: 13em;
}

.delete:hover{
  background-color: rgba(255,0,0,0.7);
  cursor: pointer;
}

.list-group-item{
  width: 40em;
}

.list-group {
  width: 40em;
}

.input-container{
  display: inline-block;
  position: relative;
  overflow: auto;
}


.file-container {
  padding-top: 0;
  background-color: rgba(0,0,0,0.1);
  border-radius: 20px;
}
.file-container:hover{
  cursor: pointer;
}

.file-drag {
  opacity: 0;
  width: 40em;
  height: 100%;
  z-index: -100;
  margin-bottom: 0em;
  display: flex;
}

.file-name{

  text-overflow: ellipsis ellipsis;
}

.badge{
  margin-left: .5em;
  float: right;
}

.icon-move{
  margin-left: 0.4em;
}

.file-name {
  border-radius: 3px;
  margin-top: 0;
  margin-left: 0;
  border: 0;
  width: 65%;
}

#move{
  margin-right: 0.5em;
}

#move:hover {
  cursor: grab;
}
#move:active{
  cursor: grabbing;
}
