div{
  margin: 0 auto;
}

.input-container{
  display: inline-block;
  position: relative;
  overflow: auto;
}

.input-addon {
  position: absolute;
  top: 9px;
  right: 5px;
}

.file-container {
  margin-top: 2em;
  width: 500px;
  border: 4px dotted dodgerblue;
}

.file-drag {
  opacity: 0;
  padding: 4rem;
  width: auto;
  height: 4rem;
}

#fileName{
  margin: 0 auto 2em auto;
  width: 20em;
}

button{
  margin: 2em 1em 3em auto;
}

.icon-move {
  margin-left: 0.5em;
  margin-right: 1em;
}

.badge{
  margin-left: 1em;
}
#info{
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: lightgreen;
  border-radius: 30px;
}

.file-name {
  border-radius: 3px;
  margin-top: 0;
  margin-left: 3em;
  width: 50%;
}

i:hover {
  cursor: move;
}
