<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="input-wrapper">
    <div style="margin-top: 3em; text-align: center">
      <label style="margin-right: 1em">Open File =></label>
      <input type="file" (change)="onFileUpload($event)">
    </div>
    <div style="margin-top: 5em; width: 80%; z-index: 1" class="fileList">
      <div class="file-container" style="height: 5em; margin-bottom: 2em">
        <input type="file" class="file-drag" (change)="onFileUpload($event)" multiple="true">
      </div>
        <ul id="items" class="list-group" style="margin-top: 0; margin-left: 12.5%;">
          <li *ngFor="let current of this.service.playlist.cliplist; let i = index" class="list-group-item" name="clips">
            <div name="divC">
              <span class="icon-move"><i id="move" class="bi bi-grip-horizontal"></i></span>
              <input class="file-name" name="files" [(ngModel)]="this.service.filename[i]">
              <span class="badge bg-secondary rounded-pill" >.<label name="extension">{{this.service.fileExtension[i]}}</label></span>
              <span [hidden]="this.service.nameCorrect[i] !== 'Name CORRUPTED!'" class="badge bg-danger rounded-pill"><i class="bi bi-file-earmark-excel"></i><p hidden name="correct">{{this.service.nameCorrect[i]}}</p></span>
            </div>
          </li>
        </ul>

    </div>
  </div>
</div>
