div{
  margin: 0 auto;
  text-align: left;
}

.list-group-item{
  width: 35em;
}

.list-group {
  width: 40em;
}

.input-container{
  display: inline-block;
  position: relative;
  overflow: auto;
}

.input-addon {
  position: absolute;
  top: 8px;
  right: 4px;
}

.file-container {
  margin-top: 2em;
  width: 500px;
  border: 4px dotted dodgerblue;
}

.file-drag {
  opacity: 0;
  padding: 4rem;
  width: auto;
  height: 4rem;
}

#fileName{
  width: 20em;
}

.badge{
  margin-left: 1em;
}

.icon-move{
  margin-left: 1em;
}

.file-name {
  border-radius: 3px;
  margin-top: 0;
  margin-left: 1em;
  width: 50%;
}

#move:hover {
  cursor: grab;
}
#move:active{
  cursor: grabbing;
}
