<div class="file-container" id="dropzone">
  <!--<span style="z-index: 1; color: white"><i class="bi bi-file-earmark-plus"></i></span><br>
  <label style="text-align: center; z-index: 1">.Playlist importieren</label>-->
  <div class="row">
    <div class="column column-1" style="border-bottom-left-radius: 30px">
      <input title=".Playlist importieren" type="file" class="file-drag" (change)="onFileUpload($event)" multiple="true">
    </div>
    <div class="column column-2" style="border-bottom-right-radius: 30px">
      <input id="fileName" class="input-group-text file-name" type="text" [(ngModel)]="this.service.playlist.name">
    </div>
  </div>
</div>
