div{
  margin: 0 auto;
  text-align: left;
}


.input-container{
  display: inline-block;
  position: relative;
  overflow: auto;
}
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  width: 80%;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  height: 100px;
}

.column-1 {
  background: #B3B147;
}

.column-2{
  background: #173645;
}


.file-drag {
  opacity: 0;
  width: 100%;
  height: 100%;
}


.file-name {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  width: 50%;
}

#move{
  margin-right: 0.5em;
}

#move:hover {
  cursor: grab;
}
#move:active{
  cursor: grabbing;
}
