div{
  margin: 0 auto;
  text-align: left;
}

.list-group-item{
  width: 32em;
}

.list-group {
  width: 40em;
}

.input-container{
  display: inline-block;
  position: relative;
  overflow: auto;
}


.file-container {
  padding-top: 0;
  background-color: rgba(0,0,0,0.1);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.file-container:hover{
  cursor: pointer;
}

.file-drag {
  opacity: 0;
  width: 40em;
  height: 100%;
  z-index: -100;
  margin-bottom: 0em;
  display: flex;
}

.file-name{
  text-overflow: ellipsis ellipsis;
}

.badge{
  margin-left: 1em;
}

.icon-move{
  margin-left: 0.4em;
}

.file-name {
  margin-top: 0;
  margin-left: 0;
  border: 0;
  width: 73%;
}

#move{
  margin-right: 0.5em;
}

#move:hover {
  cursor: grab;
}
#move:active{
  cursor: grabbing;
}
